UPDATE Script
SET Content = REPLACE(Content, 
    'bodyObj = JSON.parse(body);', 
    'const cleanedBody = body.replace(/\/\*[\s\S]*?\*\/|\/\/.*/g, '''').trim();' + CHAR(10) + '            bodyObj = JSON.parse(cleanedBody);'
)
WHERE Type = 'Encryption' AND Content LIKE '%bodyObj = JSON.parse(body);%';

UPDATE Request
SET EncryptionScript = REPLACE(EncryptionScript, 
    'bodyObj = JSON.parse(body);', 
    'const cleanedBody = body.replace(/\/\*[\s\S]*?\*\/|\/\/.*/g, '''').trim();' + CHAR(10) + '            bodyObj = JSON.parse(cleanedBody);'
)
WHERE EncryptionScript LIKE '%bodyObj = JSON.parse(body);%';
